# Diretórios de build
bin/
obj/
build/
Debug/
Release/

# Arquivos gerados pelo Code::Blocks
*.depend
*.layout
*.layout.save
*.cbp
*.o
*.exe
*.dll
*.so
*.a

# Arquivos temporários
*.autosave
*.user
*.bak
*~
*.swp

# Arquivos do sistema (caso esteja usando Windows)
Thumbs.db
Desktop.ini

# Arquivos do macOS
.DS_Store

# VsCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
